.content{
    padding: 5%;
}
.error{
    color: red;
}
.done{
    color:green;
}
.footerContainer{
    background-color: #282828;
    color: #9A9A93;
    padding: 1%;
    display: flex;
    justify-content: space-around;
}
.footerSection{
    width: 30%;
    justify-content: space-around;
    align-items: center;
}
.footerSubSection{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}

.formBox{
    width: 75%;
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 4%;
    border: grey solid 1px;
}
.formBox>input[type=submit]{
    color: white;
    background-color: #282828;
    margin-top: 20px;
    width: 30%;
    padding: 9px;
    border-radius: 4px;
    border: none;
}

/* loginBox contents */
.loginBox{
    width: 40%;
    text-align: center;
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4%;
    padding-top: 4%;
    border: grey solid 1px;
}
.loginBox>h2{
    margin-top: 5%;
}
.loginBox>form>input[type=submit]{
    color: white;
    background-color: #282828;
    margin-top: 20px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: 1.5em;
    width: 50%;
    border-radius: 4px;
}
.loginBox>form>input[type=text],input[type=password],input[type=email]{
    width: 80%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.loginBox>div{
    margin-top: 15px;
}
.inputLabel{
    font-size: .8em;
}

/* Profile Page contents */
.aboutBox{
    margin: auto;
    width: 70%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: gold;
    border-radius: 25px;
}
.main{
    -ms-flex: 30%;
    flex: 30%;
    margin: 20px;
    padding: 20px;
}
.side{
    -ms-flex: 30%;
    flex: 30%;
    margin: 20px;
    padding: 20px;
    background-color: white;
}
.main>h3{
    text-align: center;
}
.main>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.profileButton{
    background-color: black;
    color: white;
    padding: 10px;
    width: 150px;
    margin-right: 30px;
}
.profileButton>a,a:hover,a:active,a:visited{
    color: white;
    text-decoration:none
}
.profileButtons{
    margin: auto;
    width: 70%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.buttonSide{
    -ms-flex: 30%;
    flex: 30%;
}
.buttonSort{
    -ms-flex: 30%;
    flex: 30%;
}
.buttonSort>form{
    float: right;
}
.buttonSort>form>h4,select{
    display: inline-block;
}
.buttonSort>form>h4{
    margin-right: 25px;
}
.recipeBoxP{
    margin: auto;
    width: 70%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.recipePictureP{
    -ms-flex: 25%;
    flex: 25%;
}
.recipeInfoP{
    -ms-flex: 35%;
    flex: 35%;
}
.recipeButtonsP{
    -ms-flex: 10%;
    flex: 10%;
}
.detailsButtonP{
    background-color: black;
    color: white;
    padding: 10px;
    width: 150px;
    margin-bottom: 10px;
}
.detailsButtonP>a,a:hover,a:active,a:visited{
    color: white;
    text-decoration:none
}

/* Search Page contents */
.buttonsSearch>form{
    float: right;
}
.buttonsSearch>form>h4,select{
    display: inline-block;
}
.buttonsSearch>form>h4{
    margin-right: 25px;
}
.buttonsSearch{
    margin: auto;
    width: 70%;
}
.keySearch{
    margin: auto;
    width: 70%;
}
.keySearch>form>label{
    margin-right: 30px;
    font-size: 30px;
}
.keySearch>form>input[type=submit]{
    background-color: black;
    color: white;
    padding: 10px;
    width: 150px;
    margin-left: 100px;
}
.keySearch>form>input[type=search]{
    width: 500px;
}
.recipeBox{
    margin: auto;
    width: 70%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.recipePicture{
    -ms-flex: 20%;
    flex: 20%;
}
.recipeInfo{
    -ms-flex: 50%;
    flex: 50%;
}
/* About Page contents */
.aboutStory{
    padding: 30px;
    margin: auto;
    width: 70%;
    background-color: green;
    border-radius: 25px;
}
.aboutTeam{
    padding: 30px;
    margin: auto;
    width: 70%;
    background-color: gold;
    border-radius: 25px;
}
.aboutWhite{
    background-color: white;
    padding: 20px;
}

/* Details Page contents */
.detailsButtons{
    margin: auto;
    width: 70%;
}
.detailsButtons>button{
    float: right;
}
.detailsButton{
    background-color: black;
    color: white;
    padding: 10px;
    width: 150px;
    margin-left: 30px;
}
.detailsHeader{
    padding: 30px;
    margin: auto;
    width: 70%;
    background-color: green;
    border-radius: 25px;
}
.detailsButton>a,a:hover,a:active,a:visited{
    color: white;
    text-decoration:none
}
.detailsWhite{
    background-color: white;
    padding: 20px;
    text-align: center;
}
.detailsMain{
    padding: 30px;
    margin: auto;
    width: 70%;
    background-color: gold;
    border-radius: 25px;
}
.mainWhite{
    background-color: white;
    padding: 20px;
}

/*Print Page*/
.printMain{
    padding: 30px;
    margin: auto;
    width: 70%;
}
.printHeader{
    padding: 30px;
    margin: auto;
    width: 70%;
}

/*Home Page*/
.slides {
  position: relative;
  text-align: center;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}
.imageSlider{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.detailsButtonH{
    background-color: black;
    color: white;
    padding: 10px;
    width: 150px;
    margin: 20px;
}
.detailsButtonH>a,a:hover,a:active,a:visited{
    color: white;
    text-decoration:none
}
